.profile-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(224, 221, 221) solid 1px;
}
.follow-button{

  background-color: #90C48A;
  color: white;
  border:none;
  margin: 0.7rem;
  padding: 10px 20px;
  
}

.unfollow-button{

  background-color: #D77876;
  color: white;
  border:none;
  margin: 0.7rem;
  padding: 10px 20px;

}

.MuiTab-textColorPrimary.Mui-selected{
  color: rgb(20, 20, 20) !important;
}

.MuiTab-textColorPrimary{
  color:rgb(40, 51, 51) !important;
}