body {
  font-family: 'Source Sans Pro', sans-serif;
}
.round-button {
  border-radius: 40px;
  padding: 14px 40px;
  font-size: $sm-font;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
}
.round-button:hover {
  cursor: pointer;
}

.user-avtar {
  height: 2rem !important;
  width: 2rem !important;
  margin-right: 0.5rem;
}
